.wrapper {
    width: 80%;
    overflow-y: auto;
    background: var(--lightblue);
    padding: 2rem 4%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
        padding-top: 7rem;
        width: 100%;
    }
}
