.slide {
    position: absolute;
    top: 5.2rem;
    left: -1px;
    right: -1px;
    z-index: 300;
    border: 1px solid #e5e5f2;
    border-radius: 0px 0px 3px 3px;
    background-color: #fff;
    will-change: height;
    transition-duration: 0.3s !important;
}
