.wrapper {
    border: 1px solid var(--main);
    border-radius: 30px;
    height: 2.4rem;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    .label {
        margin-right: 0.8rem;
        font-weight: 500;
        font-size: 1rem;
        color: #558afd;
        text-transform: capitalize;
    }
}
