.alert-enter {
    opacity: 0.01;
    transform: translateY(-100vh);
}
.alert-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms ease-out;
}
.alert-exit {
    opacity: 1;
    transform: translateY(0);
}
.alert-exit-active {
    opacity: 0.01;
    transform: translateY(-100vh);
    transition: all 400ms ease-out;
}
