.wrapper {
    position: relative;
    .heading {
        font-size: 2.4rem;
        margin-bottom: 2.4rem;
        padding-top: 6.6rem;
    }
    .back {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 3rem;
        a {
            color: black;
            &::after {
                display: block;
                content: '➞';
                transform: rotateY(180deg);
            }
        }
    }
}
